.input-label {
    font-size: 1.4rem;
    display: block;
    margin: .4rem 0rem
}

.input {
    border: 1px solid #ccc;
    border-radius: .4rem;
    outline: none;
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    width: 100%;
}