.card {
    overflow: hidden;
    border-radius: .3rem;
    padding: 2.4rem 3.4rem;
    border: 1px solid #bbbbbb;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.card-content {
    font-size: 1.6rem;
    white-space: wrap;
    flex-grow: 1;
}